.newUser {
    flex: 4;
    width: 100%;
    margin-left: 40px;
}

.newUserForm {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.newUserFormLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newUserFormRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newUserItem > input {
    height: 36px;
    width: 99.5%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newUserGender > input {
    margin-top: 15px;
}

.newUserGender > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserRole > input {
    margin-top: 15px;
}

.newUserRole > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect {
    height: 40px;
    border-radius: 5px;
}

.newUserButton {
    width: 99.5%;
    height: 36px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
